*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
}

body {
  color: #fff;
  background-color: #222;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

h2 {
  font-size: 1.6rem;
  color: #d25757; 
}

header>img {
  display: block;
  width: 150px;
  height: auto;
  margin: 10px auto 20px auto;

  animation-name: example;
  animation-delay: .5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes example {
  from {
    transform: scale(.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

nav>ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;

  background-color: #333; 
  padding: 15px;
  margin: 25px auto;
  border-radius: 25px;
}

nav>ul li {
  font-size: 1.5em;
}

nav>ul li a {
  display: block;
  text-decoration: none;
  color: #d25757; 
  transition: all .1s linear;
}

nav>ul li a:hover {
  color: #d0614e;
  font-size: 1.6rem;
  transform: translateY(-5px);
}

.promotional-grid {
  width: 95vw;
  margin: auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.promotional-grid article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: #333; 
}

.promo-area-one {
  background-image: url("images/22.jpg");
  grid-column: span 3;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: #fff;
  padding: 50px;
  margin-bottom: 50px;
}

.promo-area-one h1 {
  line-height: 1.2;
  margin-bottom: 10px;
}

.promo-area-one p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.promo-area-one h1,
.promo-area-one p {
  opacity: 0;
  animation-name: appear;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.primary-btn {
  background-color: #d25757;
  color: #222;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  animation-name: ascend;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes ascend {
  from {
    margin-top: 50px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

.primary-btn:hover {
  background-color: #d0614e; 
  color: #fff;
  box-shadow: 0px 0px 5px #d0614e;
}

.promo-area-two h2,
.promo-area-three h2,
.promo-area-four h2 {
  color: #fccece;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.promo-area-two h2::first-letter,
.promo-area-three h2::first-letter,
.promo-area-four h2::first-letter {
  font-size: 2.8rem;
  color: #d0614e;
}

.promo-area-two p,
.promo-area-three p,
.promo-area-four p {
  padding: 10px 20px;
  margin-bottom: 15px;
}

.promo-area-two>img,
.promo-area-three>img,
.promo-area-four>img {
  width: 100%;
  height: auto;
}

.secondary-btn {
  display: inline-block;
  background-color: #fccece; 
  color: #222;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-left: 15px;
  margin-bottom: 15px;
}

.secondary-btn:hover {
  background-color: #d0614e;
  box-shadow: 0px 0px 5px 2px #d0614e;
}

footer {
  background-color: #333;
  width: 100%;
  height: 150px;
  margin-top: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}

footer div {
  flex: 1;
}

footer img {
  display: block;
  width: 160px;
  height: auto;
  margin: auto;
}

@media (max-width: 60em) {
  html {
    color: #fff;
    font-size: .8rem;
    line-height: 1.4;
  }

  .promotional-grid {
    grid-template-columns: 1fr;
  }

  .promotional-grid article {
    grid-column: span 1;
  }
}
